@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fcde67;
}

/* Meal */

.main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.heading h1 {
    color: #030e12;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 2rem;
    margin: 1rem;
}

.search-bar {
    margin: 1rem 0;
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}